<mat-nav-list>
    <mat-list-item>
       <button mat-raised-button color="primary" class="button" routerLink="/planning">
        <mat-icon>date_range</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" class="button" routerLink="/contact">
        <mat-icon>contact_support</mat-icon>
    </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" class="button" routerLink="/myusers">
        <mat-icon>dashboard</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" class="button" routerLink="/params">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-list-item>
</mat-nav-list>