<app-header></app-header>
<mat-sidenav-container class="example-container" style="height: 100%;">
  <mat-sidenav mode="side" opened >  
    <ng-container *ngFor="let company of companies">
      <app-side-card [company]="company"></app-side-card>
    </ng-container> 
  </mat-sidenav>
    <mat-sidenav-content>
      <!-- Filters -->
      
      <!-- Map -->
      <div class="map" fxFlex="1 1 100%" #map *ngIf="isMapDisplaying">
        <agm-map #map [style.height.px]="map.offsetHeight" [latitude]="lat" [longitude]="lng" [zoom]="6" >
          <agm-marker *ngFor="let search of foundSearches$ | async; let i = index" [markerDraggable]="false"
                      [latitude]="search.lat" [longitude]="search.lng">
            <agm-info-window #infowindow id="infowindow">
              <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" class="cursor-pointer info-container"
                   [ngStyle]="{'background-color': isMapDisplaying ? 'white' : '#f0f1f4'}">
                
                <span fxFlex="50" class="nb-map">{{search.elementNb}}</span>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </mat-sidenav-content> 
  </mat-sidenav-container>