<mat-sidenav-container class="example-container" style="height: 100%;">
    <mat-sidenav mode="side" opened><mat-list>
      <mat-list-item>
        <p>Dream Five</p>
        <p>13 rue du Foot </p>
        <button mat-raised-button color="primary">Réserver</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>Dream Five</p>
        <p>13 rue du Foot </p>
        <button mat-raised-button color="primary">Réserver</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>Dream Five</p>
        <p>13 rue du Foot </p>
        <button mat-raised-button color="primary">Réserver</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>Dream Five</p>
        <p>13 rue du Foot </p>
        <button mat-raised-button color="primary">Réserver</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>Dream Five</p>
        <p>13 rue du Foot </p>
        <button mat-raised-button color="primary">Réserver</button>
      </mat-list-item>
    </mat-list></mat-sidenav>
    <mat-sidenav-content>
      <!-- Filters -->
      
      <!-- Map -->
    </mat-sidenav-content>
    
  </mat-sidenav-container>