.mat-expansion-panel-spacing {
    margin: 0 0 !important;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.mat-drawer-side {
 border-right: solid 0px;
}

.mat-drawer-container {
    background-color: white;
}