<div>
    <mat-form-field appearance="fill">
        <mat-label>Titre</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Auteur</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <mat-select>
            <mat-option value="one">Rap</mat-option>
            <mat-option value="two">Rock</mat-option>
            <mat-option value="two">Funk</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">
        Ajouter
    </button>
</div>
