.router-principal {
    height: calc(100vh - 80px);
    width: calc(100% - 220px);
  }
  
.headbar {
  // css général pour la headbar
  position: static;
  top: 0;
  left: 0;
  right: 0;
  height: 80px !important;
  width: 100%;
}


.card{
  padding: 25px 25px;
  margin-top: 20px;
}
.header{
  border-bottom: #EEE 1px solid;
  margin-bottom: 20px;
}

.collapsible{
  display: inline-block;
}
