
<mat-grid-list cols="2" rowHeight="2:1" class="dashboard-home">
    <mat-grid-tile>
        <button mat-raised-button color="primary" class="button" routerLink="/planning">
            <mat-icon>date_range</mat-icon>
            Mon planning
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" class="button" routerLink="/contact">
            <mat-icon>contact_support</mat-icon>
            Contact
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" class="button" routerLink="/myusers">
            <mat-icon>dashboard</mat-icon>
            Mes utilisateurs
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" class="button" routerLink="/params">
            <mat-icon>settings</mat-icon>
            Paramètres
        </button>
    </mat-grid-tile>
  </mat-grid-list>