.container {
    padding: 100px 1rem 2rem 1rem;
  }
  
  
  .name {
    color: #202124;
    font-family: Lato, serif;
    font-size: 25px;
    font-weight: 900;
  }
  
  
  ::ng-deep .mat-radio-label-content {
    color: black;
  }
  
  .position {
    color: rgba(67,76,93,0.4);
    font-family: Lato, serif;
    font-size: 14px;
    letter-spacing: 0;
  }
  
  .title {
    color: #202124;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: bold;
  }
  
  .information {
    color: #434C5D;
    font-family: Lato, serif;
    font-size: 14px;
    padding-bottom: 0.4rem;
    margin-left: 1rem;
  }
  
  .icon {
    font-size: 20px ; width: auto ; height: auto ;
  }
  
  .card {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 11px 0 rgba(203,202,214,0.6);
    padding: 25px 30px;
  
    .field-title {
      color: rgba(0, 0, 0, 0.7);
      font-family: Lato;
      font-size: 15px;
      letter-spacing: 0;
      line-height: 17px;
      font-weight: 900;
    }
  }
  
 
  .action-button {
    color: #3DC9CC;
    font-family: Lato, serif;
    font-size: 14px;
    cursor: pointer;
  }
  
  .action-button:hover {
    border-bottom: 1px solid #3DC9CC;
  }
  
  
  .no-margin-bottom {
    margin-bottom: 0;
  }
  
  .address-area {
    resize: none;
  }

  .example-chip-list {
    width: 100%;
  }
  